@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Nunito:wght@600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background text-neutral font-sans antialiased;
  }

  html {
    scroll-behavior: smooth;
  }
}

@layer utilities {
  .dark .svg-cream {
    /* Approximate filter for #F3ADA7 */
    filter: invert(88%) sepia(16%) saturate(1209%) hue-rotate(305deg) brightness(97%) contrast(90%);
  }

  .animate-fadeIn {
    animation: fadeIn 0.005s ease-out forwards;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-5px);
    }

    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}